<div class="modal" id="bottom">
  <div class="bottom white b-t" style="height:240px">
    <div class="row-col">
      <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
      <div class="p-a b-b">
        <span class="h5">Warning</span>
      </div>
      <div class="row-row">
        <div class="row-body">
          <div class="row-inner">
            <div class="list-group no-radius no-borders">

              <a data-toggle="modal" data-target="#chat" data-dismiss="modal" class="list-group-item p-x-md">
                <i class="fa fa-circle text-muted text-xs m-r-xs"></i>
                <span>Do you really want to leave our application?</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
